<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/main.css" />
    <script
      src="https://kit.fontawesome.com/0cad751794.js"
      crossorigin="anonymous"
    ></script>
    <title>Kapow!</title>
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <span href="#" id="logo">
          <img
            src="./assets/kapow-logo.png"
            class="nav-link"
            data-page="home"
            alt="kapow-logo"
          />
        </span>
        <div>
          <a class="nav-link" data-page="trending">Trending</a>
          <a class="nav-link" data-page="favorites">Favorites</a>
          <a class="nav-link" data-page="uploaded">Uploaded</a>
          <input
            id="search"
            class="input-element"
            type="text"
            placeholder="&#xF002; Search"
            style="font-family: Arial, FontAwesome"
          />
          <a class="nav-link" data-page="upload">
            <!-- <span>Upload</span> -->
            <span class="iconContainer"><i class="fa-solid fa-plus"></i></span>
          </a>
        </div>
      </nav>
      <div id="container"></div>
      <div class="load-more"></div>
      <div class="to-top">
        <a class="nav-link"
          ><span class="text">TO TOP</span>
          <span class="iconContainer"><i class="fa-solid fa-arrow-up"></i></span
        ></a>
      </div>
    </div>
    <div class="modal">
      <div class="modal-content"></div>
    </div>
    <script src="./src/index.js" type="module"></script>
    <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
  </body>
</html>
