<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/main.css" />
    <title>Kapow!</title>
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <a href="#" class="nav-link" data-page="home"
          ><img src="./assets/kapow-logo.png" alt="kapow-logo"
        /></a>
        <a href="#" class="nav-link" data-page="home">Trending</a>
        <a href="#" class="nav-link" data-page="favorites">Favorites</a>
        <a href="#" class="nav-link" data-page="categories">Uploaded</a>
        <input id="search" type="text" placeholder="Search" />
        <a href="#" class="nav-link" data-page="about">Upload</a>
      </nav>
      <div id="container">
        <!-- start placeholders -->

        <!-- end placeholders -->
      </div>
    </div>
    <script src="./src/index.js" type="module"></script>
  </body>
</html>
