<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/main.css" />
    <script
      src="https://kit.fontawesome.com/0cad751794.js"
      crossorigin="anonymous"
    ></script>
    <title>Kapow!</title>
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <span href="#" id="logo" class="nav-link" data-page="home">
          <img src="./assets/kapow-logo.png" alt="kapow-logo" />
        </span>
        <a class="nav-link" data-page="trending"
            <span>Trending</span>
        </a>
        <a class="nav-link" data-page="favorites">
            <span>Favorites</span>
        </a>
        <a class="nav-link" data-page="uploaded">
            <span>Uploaded</span>
        </a>
        <input id="search" type="text" placeholder="Search" />
        <a class="nav-link" data-page="upload">
            <!-- <span>Upload</span> -->
          <span class="arrowContainer"><i class="fa-solid fa-plus"></i></span>
        </a>
      </nav>
      <div id="container"></div>
      <footer>
        <p>Copyright © Something Something 2024</p>
      </footer>
    </div>
    <script src="./src/index.js" type="module"></script>
    <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
  </body>
</html>
