body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1054px;
  height: 100vh;
}

img {
  height: 70px;
  width: 120px;
}

#container {
  width: 100%;
  height: 100vh;
}
.content {
  width: 100%;
  height: 100vh;
}
.gifs-container {
  width: 100%;
  height: 100vh;
}
.gif-item {
  width: 256px;
  margin-bottom: 10px;
}

.gif-item img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.gif-item:hover .overlay {
  opacity: 1;
}

.account {
  display: flex;
  align-items: center;
}

.account-name {
  font-size: 1.2em;
}

.heart-button {
  align-self: flex-end;
}

.heart-button img {
  width: 30px;
  height: 30px;
}
.wrapper > nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-link > img {
  cursor: pointer;
}

a.nav-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.6em 1em;
  background-color: yellow;
  cursor: pointer;
  box-shadow: 2px 4px 0px black;
  border: 2px solid;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms, transform 250ms, filter 50ms;
}
a.nav-link:hover {
  transform: translate(1px, 1px);
  box-shadow: 1px 2px 0px black;
}
a.nav-link:active {
  transform: translate(2px, 2px);
  filter: saturate(0.65);
}
a.nav-link::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: pink;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 250ms;
}
a.nav-link:hover::after {
  transform: translateX(0);
}

.arrowContainer {
  padding: 0.25em 0.45em;
  margin: -0.25em 0;
  border: 2px solid;
  border-radius: 50%;
  background-color: pink;
  position: relative;
  overflow: hidden;
  transition: transform 250ms, background-color 250ms;
  z-index: 100;
}
.arrowContainer::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: yellow;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 250ms ease-in-out;
}

a.nav-link:hover .arrowContainer::after {
  transform: translateX(0);
}
/* a.nav-link:active .arrowContainer {
  transform: translateX(8px);
} */
