body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

.home-welcome {
  text-align: center;
}

.home-container {
  padding: 0 100px;
}

.home-container p {
  font-size: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  position: absolute;
  width: 40%;
  height: auto;
  padding: 10px 20px 42px 20px;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  transform: scale(0.7);
  opacity: 0;
}

.modal-content.show {
  z-index: 1000;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal-gif-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-gif-content > span {
  cursor: pointer;
}

.modal-gif {
  display: flex;
  flex-wrap: wrap;
}

.modal-gif > .gif-information {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
}

.modal-gif > .gif-information > .heading > * {
  margin: 0px 0px 10px;
}

.modal-gif > .gif-information > .actions {
  justify-content: left;
}

.modal-img {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: auto;
  border-right: 3px solid black;
  padding-right: 15px;
  margin-right: 15px;
}

.modal-img i {
  font-size: 2rem;
}

.modal-img > img {
  width: 100%;
  border-radius: 20px;
  height: auto;
}

@media (max-width: 1650px) {
  .modal-content {
    max-width: 50%;
  }
  .modal-gif > .gif-information,
  .modal-img {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin-right: 0;
    border: none;
  }
}

.close-modal {
  color: #aaa;
  font-size: 35px;
  align-self: flex-end;
  transition: transform 250ms;
}

.close-modal:hover {
  transform: scale(1.1);
  color: #03aaac;
}
.wrapper {
  width: 1054px;
  height: 100vh !important;
}

img {
  height: 70px;
  width: 120px;
}

#container {
  width: 100%;
  height: 100vh;
  margin-top: 120px;
}
.content {
  width: 100%;
  height: 100vh;
}
.gifs-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.gif-item {
  width: 256px;
  margin-bottom: 10px;
}

.gif-item img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.gif-item:hover .overlay {
  opacity: 1;
}
.actions {
  display: flex;
  gap: 6px;
  justify-content: end;
}
.account {
  display: flex;
  align-items: end;
  align-content: center;
}
.account-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.avatar {
  display: flex;
  align-content: center;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.avatar img {
  border-radius: 16px;
}
.account-name {
  font-size: 1.2em;
}

.heart-button {
  align-self: end;
}

.wrapper > nav {
  position: fixed;
  z-index: 1000;
  width: 1054px;
  background-color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.wrapper > nav > div {
  display: flex;
  gap: 20px;
  justify-content: right;
  width: 100%;
}

.btn > img {
  cursor: pointer;
}

a.btn,
button.btn,
.input-element {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.6em 1em;
  box-shadow: 2px 4px 0px black;
  border: 2px solid;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms, transform 250ms, filter 50ms;
}

a.btn,
button.btn {
  background-color: #16c9cc;
  cursor: pointer;
  border-color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

.input-element {
  background-image: radial-gradient(
      circle at center,
      #ececec 0.1rem,
      transparent 0
    ),
    radial-gradient(circle at center, #ececec 0.1rem, transparent 0);
  background-size: 0.5rem 0.5rem;
  background-position: 0 0, 0.3rem 0.75rem;
  width: 250px;
  font-size: 1rem;
}

.input-element::placeholder {
  padding-left: 5px;
}

a.btn:hover,
button.btn:hover,
.input-element:hover {
  transform: translate(1px, 1px);
  box-shadow: 1px 2px 0px black;
}

a.btn:active,
button.btn:active,
.input-element:focus {
  transform: translate(2px, 2px);
  filter: saturate(0.65);
}
a.btn::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #f5ee74;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 250ms;
}
a.btn:hover::after,
button.btn:hover::after {
  transform: translateX(0);
}

.iconContainer {
  padding: 0.25em 0.45em;
  margin: -0.25em 0;
  border: 2px solid;
  border-radius: 50%;
  background-color: #f5ee74;
  position: relative;
  overflow: hidden;
  transition: transform 250ms, background-color 250ms;
  z-index: 100;
}

.iconContainer::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: #03aaac;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 250ms ease-in-out;
}

a.btn:hover .iconContainer::after {
  transform: translateX(0);
}

a.btn.active {
  background-color: #f5ee74;
  transform: translate(2px, 2px);
  box-shadow: 1px 2px 0px black;
}

.active .iconContainer {
  background-color: #03aaac;
}

.to-top {
  position: fixed;
  bottom: 30px;
  right: 80px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20%);
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  z-index: 1000;
  /* transform: rotate(-90deg); */
}

.to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.to-top .text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.to-top > a.btn {
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;
  padding: 1em 0.6em;
}

.load-more {
  height: 100px;
}

.actions i {
  font-size: 1.1rem;
  padding: 2px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.modal-gif-content .actions i {
  font-size: 1.5rem;
  margin-top: 10px;
  padding-right: 5px;
}

.actions i:hover {
  transform: scale(1.1);
  color: #03aaac;
}

.actions i:active {
  transform: translate(2px, 2px);
}

.favorite .fa-solid {
  color: #db424f;
}

#file-label {
  height: 200px;
  width: 400px;
  transition: 250ms ease;
  font-size: 1.2rem;
}

.active {
  background-image: radial-gradient(
      circle at center,
      #0fb7ba 0.1rem,
      transparent 0
    ),
    radial-gradient(circle at center, #0fb7ba 0.1rem, transparent 0);
  background-color: #03aaac;
  box-shadow: 3px 6px 0px black;
  transform: translate(-2px, -2px);
}

.upload-content {
  display: grid;
  grid-gap: 50px;
  justify-items: center;
  align-items: center;
}

button.btn.processing {
  background-color: white !important;
  background-image: radial-gradient(
      circle at center,
      #ececec 0.1rem,
      transparent 0
    ),
    radial-gradient(circle at center, #ececec 0.1rem, transparent 0);
  background-size: 0.5rem 0.5rem;
  background-position: 0 0, 0.3rem 0.75rem;
  transform: translate(2px, 2px);
  box-shadow: 1px 2px 0px black;
  cursor: default;
}

.notification {
  z-index: 10000;
  position: fixed;
  background: #fff;
  top: 25px;
  right: 35px;
  border-radius: 10px;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  transform: translateX(calc(100% + 35px));
  transition: all 0.25s ease-in-out;
}

.notification.active {
  transform: translateX(0%);
}

.notification > .notification-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.notification-content > .fa-check,
.notification-content > .fa-exclamation,
.notification-content > .fa-burst {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: #03aaac;
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
}

.fa-burst {
  background-color: #db424f;
}

.notification-message {
  display: flex;
  flex-direction: column;
}

.notification-message > .text {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}
.notification-message > .text-1 {
  font-weight: 600;
  color: #333;
}

.notification-content > .close-notification {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.notification-content > .close-notification:hover {
  opacity: 1;
}
